html,body{
    margin:0;
    padding:0;
    background-color:orange;
    width:99%;
    background-image:url("http://i.imgur.com/an99Vxe.jpg");
}
.box-login{
    margin-top:14em;
    padding:10px;
    border-radius:.9em;
}
