html,body{
    margin:0;
    padding:0;
    width:99%;
}

button{
    color:#7281D4;
}

ul{
    list-style-type:none;
    padding:0;
    margin:0;
}

li{
    list-style-type:none;
    padding:0;
    margin:0;
}

a{
    color:orange;
    text-decoration:none;
    display:block;
}

a:hover{
    text-decoration:none;
}

.top-nav{
    height:100px;
    padding-top:10px;
}


.right-nav{
    overflow:auto;
    overflow-x:hidden;
}

.input{
    width:100%;
}

.top-nav{
    height:100px;
}

.input{
    width:100%;
}

.searchsize {
    width: 300px;
    margin: auto;
}

.Anon{
    margin: auto;
}

.stuff{
    color:black;
}

.search_bar{
    text-align:left;
    width:50%;
}

.life:focus + nav{
    display:block;
    clear:both;
    margin-left:30%;
    margin-right:30%;
    width:auto;
    background-color:#ffffff;
}

.reg{
    color:#7281D4;
}

.spacer{
    margin-left:1px;
    margin-right:1px;
}

.input_bar{
    text-align:center;
    width:100%;
}

.spacer_vertical{
    margin-top:10px;
    margin-bottom:10px;
}
.Advert{
    float: left;
    width:100%;
    height:200px;
    background-color: purple;
    text-align:center;
}
.Advert > p{
    color: white;
    font-size: 2em;
    font-family: Candal;
    margin-top: 20%;
}
@font-face {
    font-family: "Candal";
    src: url(https://www.google.com/fonts#QuickUsePlace:quickUse/Family:Candal) format("truetype");
}
@font-face {
    font-family: "Family"
    src: url(https://fonts.googleapis.com/css?family=Roboto+Condensed)
}