<div class="row">
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in FeedCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="{{post.image}}">
            <a>{{post.name}}</a>
            <a>{{post.person_name}}</a>
            <a>{{post.tag}}</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in FeedCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="{{post.image}}">
            <a>{{post.name}}</a>
            <a>{{post.person_name}}</a>
            <a>{{post.tag}}</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in FeedCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="{{post.image}}">
            <a>{{post.name}}</a>
            <a>{{post.person_name}}</a>
            <a>{{post.tag}}</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in FeedCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="{{post.image}}">
            <a>{{post.name}}</a>
            <a>{{post.person_name}}</a>
            <a>{{post.tag}}</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in FeedCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="{{post.image}}">
            <a>{{post.name}}</a>
            <a>{{post.person_name}}</a>
            <a>{{post.tag}}</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in FeedCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="{{post.image}}">
            <a>{{post.name}}</a>
            <a>{{post.person_name}}</a>
            <a>{{post.tag}}</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
</div>
<br>
