<div class="row">
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in feedCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="{{post.image}}">
            <a>Pyroxfo</a>
            <a>{{post.person_name}}</a>
            <a>#Hotdogs #AMERICA!!!</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
    <div class="col-xs-6 middle-view  ng-controller='feedCtrl'">
        <div ng-repeat='post in feedCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="/images/Filthy.jpg">
            <a>Babcorn</a>
            <a>{{post.person_name}}</a>
            <a>#ItsTimeToStop #FilthyFrank #Greenscreen</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in feedCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="/images/Gabe.jpg">
            <a>CriticZoom</a>
            <a>{{post.person_name}}</a>
            <a>#DontTalkToMeOrMySonAgain #Gabe</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in feedCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="/images/Geekwise_meme.jpg">
            <a>KMGC</a>
            <a>{{post.person_name}}</a>
            <a>#Geekwise #Pepe</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in feedCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="/images/h3h3.jpg">
            <a>Crownupeeds</a>
            <a>{{post.person_name}}</a>
            <a>#h3h3 #Funny?</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in feedCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="/images/Champ.png">
            <a>SpaghettiBalls</a>
            <a>{{post.person_name}}</a>
            <a>#Spongebob #Atlantis</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in feedCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="/images/h3h3_lotion.jpg">
            <a>Crownupeeds</a>
            <a>{{post.person_name}}</a>
            <a>#h3h3 #Lotion</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in feedCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="/images/Breaks.jpg">
            <a>Life?</a>
            <a>{{post.person_name}}</a>
            <a>#NoBreaks #Pansies</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in feedCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="/images/BitwiseMuralDist_photo-bw.jpg">
            <a>Doggo</a>
            <a>{{post.person_name}}</a>
            <a>#Bitwise #BestClass</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in feedCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="/images/wound.jpg">
            <a>FilthyPrank</a>
            <a>{{post.person_name}}</a>
            <a>#FleshWound #MachoMan</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in feedCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="/images/im_pissed.png">
            <a>AdPlug</a>
            <a>{{post.person_name}}</a>
            <a>#GreatService #EveryoneLovesIt</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in feedCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="/images/lemons.jpg">
            <a>SpaghettiBalls.v5</a>
            <a>{{post.person_name}}</a>
            <a>#Lemons #BoBurnham</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
</div>
<br>








