<div class="row">
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in feedCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="{{post.image}}">
            <a>{{post.name}}</a>
            <a>{{post.person_name}}</a>
            <a>{{post.tag}}</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
    <div class="col-xs-6 middle-view  ng-controller='feedCtrl'">
        <div ng-repeat='post in feedCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="/images/Filthy.jpg">
            <a>{{post.name}}</a>
            <a>{{post.person_name}}</a>
            <a>{{post.tag}}</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in feedCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="/images/Gabe.jpg">
            <a>{{post.name}}</a>
            <a>{{post.person_name}}</a>
            <a>{{post.tag}}</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in feedCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="/images/Geekwise_meme.jpg">
            <a>{{post.name}}</a>
            <a>{{post.person_name}}</a>
            <a>{{post.tag}}</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in feedCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="/images/h3h3.jpg">
            <a>{{post.name}}</a>
            <a>{{post.person_name}}</a>
            <a>{{post.tag}}</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in feedCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="/images/Champ.png">
            <a>{{post.name}}</a>
            <a>{{post.person_name}}</a>
            <a>{{post.tag}}</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
</div>
<br>









