<div class="row">
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in Game_memesCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="/images/1.jpg">
            <a>Pyroxfo</a>
            <a>{{post.person_name}}</a>
            <a>#Hotdogs #AMERICA!!!</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
    <div class="col-xs-6 middle-view  ng-controller='Game_memesCtrl'">
        <div ng-repeat='post in Game_memesCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="/images/2.jpg">
            <a>Babcorn</a>
            <a>{{post.person_name}}</a>
            <a>#ItsTimeToStop #FilthyFrank #Greenscreen</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in Game_memesCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="/images/3.jpg">
            <a>CriticZoom</a>
            <a>{{post.person_name}}</a>
            <a>#DontTalkToMeOrMySonAgain #Gabe</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in Game_memesCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="/images/4.jpg">
            <a>KMGC</a>
            <a>{{post.person_name}}</a>
            <a>#Geekwise #Pepe</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in Game_memesCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="/images/5.jpg">
            <a>Crownupeeds</a>
            <a>{{post.person_name}}</a>
            <a>#h3h3 #Funny?</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in Game_memesCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="/images/6.jpeg">
            <a>SpaghettiBalls</a>
            <a>{{post.person_name}}</a>
            <a>#Spongebob #Atlantis</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in Game_memesCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="/images/7.jpg">
            <a>Crownupeeds</a>
            <a>{{post.person_name}}</a>
            <a>#h3h3 #Lotion</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in Game_memesCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="/images/8.jpg">
            <a>Life?</a>
            <a>{{post.person_name}}</a>
            <a>#NoBreaks #Pansies</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in Game_memesCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="/images/9.jpg">
            <a>Doggo</a>
            <a>{{post.person_name}}</a>
            <a>#Bitwise #BestClass</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in Game_memesCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="/images/10.jpg">
            <a>FilthyPrank</a>
            <a>{{post.person_name}}</a>
            <a>#FleshWound #MachoMan</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
</div>
<br>
<div class="row">
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in Game_memesCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="/images/11.jpg">
            <a>PretzelPlug</a>
            <a>{{post.person_name}}</a>
            <a>#Permit #ParksandRec</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
    <div class="col-xs-6 middle-view">
        <div ng-repeat='post in Game_memesCtrl.post'>
            <img class="col-xs-12 middle-view" ng-src="/images/12.jpg">
            <a>SpaghettiBalls.v5</a>
            <a>{{post.person_name}}</a>
            <a>#Lemons #BoBurnham</a>
            <button class="btn btn-default">Like</button>
            <button class="btn btn-default">Flag</button>
        </div>
    </div>
</div>
<br>








