<<<<<<< HEAD


=======
html,body{
    margin:0;
    padding:0;
    background-color:orange;
    width:99%;
}
.box-login{
    margin-top:14em;
}
.Michael{
    width:25em;
}
.sidebar{
    width
}
>>>>>>> 73488850d0f2505cf317feeff0e767ec6efb423b
